
<style>
  :host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 8px 0;
  }

  p {
    margin: 0;
  }

  .spacer {
    flex: 1;
  }

  /* Responsive Styles */
  /* @media screen and (max-width: 767px) {
    .card-container > *:not(.circle-link) ,
    .terminal {
      width: 100%;
    }

    .card:not(.highlight-card) {
      height: 16px;
      margin: 8px 0;
    }

    .card.highlight-card span {
      margin-left: 72px;
    }

    svg#rocket-smoke {
      right: 120px;
      transform: rotate(-5deg);
    }
  } */

  /* @media screen and (max-width: 575px) {
    svg#rocket-smoke {
      display: none;
      visibility: hidden;
    }
  } */
</style>




<div class="content" role="main">
  <!-- regresion o lo que sea -->
  <h2>regresion</h2>
  <p>predicted value: {{prediction}}</p>
  <input type="number" (change)="linearPrediction($event.target.value)">
  <!-- <input type="number" (change)="linearPrediction($event.target.input)"> -->
</div>

<div class="content" role="main">
  <!-- regresion o lo que sea -->
  <h2>datos imbd</h2>
  <p>predicted value: {{predictions}}</p>
  <input type="string" (change)="predict1($event.target.value)">
  <!-- <input type="number" (change)="linearPrediction($event.target.input)"> -->
</div>

<!-- <div class="content" role="main"> -->
  <!-- con mnist lol -->
  <!-- <h2>numeritos</h2>
  <h3>Dibuja aqui un numero :)</h3>
  <div> -->
    <!-- <canvas drawable > </canvas> -->
    <!-- <canvas > </canvas> -->
    <!-- <canvas drawable (newImage)="predict($event)"></canvas>-->
  <!-- </div>
  <button (click)="canvas.clear()">Erase</button> -->
  
  <!-- <div class="col-sm">
    <h3>TensorFlow Prediction</h3>
    <chart [data]="predictions"></chart>
  </div> -->
<!-- </div> -->
